<%- include('partials/header') %>
<!-- Start Vendors Section -->
<section id="contact" class="contact section-bg">
    <div class="container">
        <div class="section-title reg-code" data-aos="fade-up">
            <h2 id="black">Buy Registration Code</h2>
        <p>Contact any of our vendors below to buy your registration code. Each Code costs 0.00064BTC. which is
            equivalent to ₦2500</p>
    </div>
    <div class="section-title" data-aos="fade-up">
        <table>
            <thead>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Contact On Whatsapp</th>
            </thead>
            <tbody>
                <tr>
                    <td>Opeyemi</td>
                    <td>08065821212</td>
                    <td><a href="https://wa.me/message/DOWJ5JBMZQX6A1">Buy From Opeyemi On Whatsapp</a></td>
                </tr>
                <tr>
                    <td>Joyce</td>
                    <td>08165866109</td>
                    <td><a href="https://wa.me/message/NS6CMM7Y7DDOG1">Buy From Joyce On Whatsapp</a></td>
                </tr>
                <tr>
                    <td>Abike</td>
                    <td>08161670141</td>
                    <td><a href="https://wa.me/message/BI75HQ5OGZB2N1">Buy From Abike On Whatsapp</a></td>
                </tr>
                <tr>
                    <td>Toyin</td>
                    <td>07058160530</td>
                    <td><a href="https://wa.me/message/GNR3R626X2K5I1">Buy From Toyin On Whatsapp</a></td>
                </tr>
                <tr>
                    <td>Ranti</td>
                    <td>07037270009</td>
                    <td><a href="https://wa.me/message/EW5Z7FHWTXLWJ1">Buy From Ranti On Whatsapp</a></td>
                </tr>
                <tr>
                    <td>Ade</td>
                    <td>08057549108</td>
                    <td><a href="https://wa.me/message/PJR3XFEVBNLLE1">Buy From Ade On Whatsapp</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</section><!-- End Vendors Section -->
<%- include('partials/footer') %>