<%- include('partials/header') %>

<div class="col-10 dashboard-content">
  <div class="shadow cards-wrapper">
    <div class="card card-shadow">Apply For Bursary</div>
    <div class="card card-shadow">Application Status</div>
    
    <div class="card card-shadow">Recent Applications</div>
    <div class="card card-shadow">Profile</div>
  </div>
  <div class="">
    <h1>welcome</h1>
  </div>
</div>

<%- include('partials/footer') %>