<%- include('partials/header') %>



  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div class="members">
        
      </div>
      <a href="/" class="hero-logo" data-aos="zoom-in"><img src="/img/hero-logo.png" alt=""></a>
      <h1 data-aos="zoom-in">Welcome To ReboX</h1>
      <h2 data-aos="fade-up">ReboX is a blockchain-based decentralized platform that aims to build a sustainable income
        generation platform, by allowing easy and cost-effective sharing of digital content to generate income.
        By using the features of the blockchain and peer-to-peer (P2P) network technology, ReboX attempts to bridge the
        gap
        between content creators and content consumers by eliminating the middleman. The result is an overall cost
        reduction for the consumer and improved collection through direct receipts for the content producer, which
        offers a win-win situation.</h2>
      <a data-aos="" href="/buy-registration-code" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2 id="black">About Us</h2>
          <p>ReboX is a global innovation aimed at promoting and providing a sustainable marketing platform with the
            goal of helping individuals or businesses earn an income with little or no work. ReboX aims at providing you
            with opportunities to take advantage of cryptocurrency and the internet to create a stream on income for
            yourself.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>Join ReboX Today</h4>
              <p>We provide everyone with equal opportunity to take advantage of the current rise of the bitcoin internet and turn it into a stream of passive income.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-cube-alt"></i>
              <h4>On Time Payment</h4>
              <p>With ReboX, you can cash out your earnings at any point in time and at any time of the day. Earnings are paid directly to your bank account.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-images"></i>
              <h4>No Referrals Needed</h4>
              <p>At ReboX, we do the heavy liftings for you, referrals are only a bonus for you because you earn primarily from spillovers. Even if you can't refer, you will still earn massively from Rebox!</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-shield"></i>
              <h4>Spillovers Are Massive</h4>
              <p>Because the system is based on blockchain, you enjoy a massive spillover from the many transactions that happen over the blockchain. You also get spills from both your up and downlines.</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("/img/about.jpeg");' data-aos="fade-left" data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End About Section -->

        <!-- ======= Steps Section ======= -->
        <section id="casino" class="pricing section-bg">
          <div class="container">

            <div class="section-title" data-aos="fade-up">
              <h2 id="black">How It Works</h2>
              <p>Earning on ReboX is easy and simple.</p>
            </div>

            <div class="row">

              <div class="col-lg-4 col-md-6">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                  <h3> <a href="/register"> Sign Up </a></h3>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                  <h3>Relax Or Refer</h3>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                  <h3>Earn Massively</h3>
                </div>
              </div>

            </div>

          </div>
        </section><!-- End Steps Section -->

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">
        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="/img/featured-1.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="/img/featured-2.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="/img/featured-3.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-4">
                <figure>
                  <img src="/img/featured-4.png" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                  <h4> <a href="/buyregcode">Contact a Registration Code vendor</a> </h4>
                  <p> Pay the registration fee (0.00065Btc) through bank transfer or through wallet transfer,
                  Complete the registration using the registration code.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                  <h4>Get Your First Spillover</h4>
                  <p>After registration, you will get your first spillover within 24 hours worth 0.000025BTC.</p>
                  
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                  <h4>Refer Or Wait For More Spillovers</h4>
                  <p>When you refer someone to ReboX, ReboX pays you 0.00026BTC instantly, this means, when someone registers through your referal, you get paid.

                    Spillovers are for you, whether you refer or not, you get credited 0.000025BTC for each spillover you get. you can get a minimum of 1 to 10 spillovers in a day. </p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                  <h4>Withdraw Your Earnings</h4>
                  <p>What you earn belongs to you, withdraw and spend it anytime you want. Rebox pays within 12 hours of your withdrawal request.</p>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2 id="black">Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">

          <li data-aos="fade-up">
            <a data-toggle="collapse" class="collapsed" href="#faq1">How can i earn on ReboX? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-parent=".faq-list">
              <p>Earnings are in two major ways.</p>
              <p>1. Spillovers</p>
              <p>2. Referrals</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <a data-toggle="collapse" href="#faq2" class="collapsed">What are spillovers? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                Spillovers are the bonus paid to you daily for baing a member or Rebox.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-toggle="collapse" href="#faq3" class="collapsed">How do i register? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                Registration is done by purchasing a registration code from one of the vendors and registering with your email and password on the registration page <a href="/register">here</a>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq4" class="collapsed">What is a Registration Code? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
                The registration code is a unique code that grants you access to be a part of the system without which you cannot register.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <a data-toggle="collapse" href="#faq5" class="collapsed">How do i get the Registration Code & How Much Does It Cost? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                Registration codes are sold by our accredited vendors. Contact any of them <a
                  href="/buy-registration-code">Here</a>. Each Code costs 0.00064BTC.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq6" class="collapsed">Can i use the same code twice? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p>
                No, the code can only be used once for one account. You need a different code for each account on ReboX, this helps us to track your earnings.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq7" class="collapsed">How much can i earn on ReboX? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq7" class="collapse" data-parent=".faq-list">
              <p>
                Earnings are unlimited on the system, as long as you join the system, you continue to earn through spillovers and referrals.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq8" class="collapsed">When can i withdraw my earnings? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq8" class="collapse" data-parent=".faq-list">
              <p>
                You can withdraw your earnings at any point in time.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq9" class="collapsed">Can i have two accounts? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq9" class="collapse" data-parent=".faq-list">
              <p>
                No, only one account is allowed per person on ReboX.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq10" class="collapsed">Must i refer to earn on ReboX? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq10" class="collapse" data-parent=".faq-list">
              <p>
                No, you can earn from the massive spillovers the system generates every 24 - 48 hours
              </p>
            </div>
          </li>
        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    

  </main><!-- End #main -->

<%- include('partials/footer') %>