<%- include('partials/header') %>

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title">
            <h2 id="black">Register</h2>
            <p>A registration code is required for registration. Get one <a href="/buy-registration-code">Here</a></p>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="col-lg-8 mt-5 mt-lg-0 reg">
                    <div>
                        <%if(message) {%>
                            <p> <%= message %> </p>
                        <%}%>

                    </div>

                <form action="/register" method="POST" role="form" class="form" data-aos="fade-left">
                    <div class="form-row">
                        <div class="col-lg-12 form-group">
                            <input type="text" name="registration_code" class="form-control" id="registration_code" placeholder="Registration Code" required>
                        </div>
                        <div class="col-lg-12 form-group">
                            <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
                        </div>
                        <div class="col-lg-12 form-group">
                            <input type="text" class="form-control" name="fullName" id="fullName"
                                placeholder="Full Name" required>
                        </div>
                    <div class="col-lg-12 form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="col-lg-12 form-group">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                    </div>
                    <div class="col-lg-12 form-group">
                        <input type="text" name="ref" class="form-control" id="ref" placeholder="Referral ID"
                         >
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                    </div>
                    <div class="text-center"><button type="submit">Register</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

<%- include('partials/footer') %>